@import "fonts";
@import "colors";

html, body {
  font-family: 'SourceSansPro-Regular', 'SoruceSerifPro-Regular';
  height: 100%;
}

p { font-size: 1em; }

h1 {
  color: $grey;
  font-weight: bold;
  border-bottom: solid 1px $light-grey;
  padding-bottom: 20px;
  margin-top: 50px;
}

label {
  color: $grey;
}
