.top-level-container {
  position: relative;
  min-height: 100%;
  padding-bottom: 300px;
}
header.row {
  color: $grey;
  nav#logo {
    ul li.bold {
      color: $dark-grey;
      @media screen and (min-width: 1024px) {
        font-size: 2em;
      }
      @media screen and (max-width: 1024px) {
        font-size: 1.4em;
      }
    }
    ul li:last-child {
      @media screen and (min-width: 1024px) {
        font-size: 1em;
      }
      @media screen and (max-width: 1024px) {
        font-size: 0.7em;
      }
    }
  }
  .navbar {
    min-height: 0;
    padding: 0;
  }
  li.nav-elem {
    a {
      padding-bottom: 0;
      color: $grey;
    }
    a:hover {
      background: none;
      color: purple;
    }
  }
  border-bottom: 1px solid $light-grey;
  margin: 0;

  .languages-dropdown {
    margin-top: 9px;
    .btn {
      background: none;
      border: none;
      color: $grey;
      .fa-caret-down { margin-left: 30px; }
      &:focus { outline: 0; }
      &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .login {
    .fa-caret-down { margin-left: 5px; }
  }
}

footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: $grey;
  .footer-container {
    height: 120px;
    .upper-footer {
      height: 40%;
      border-bottom: 1px solid black;
    }
    .lower-footer {
      height: 60%;
      color: white;
      padding: 20px 0 0;
    }
  }
}

.left { float: left; }
.right { float: right; }
.bold { font-family: 'SourceSansPro-Bold', 'SourceSerifPro-Bold' }

li.login > a:focus {
  background: none;
  border: none;
  outline: none;
}

.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -maz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modal-dialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: white;
}

.modal-body {
  padding-bottom: 30px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: none;
  padding: 0;
  .remember-me { margin-right: auto; }
}

.forgot-password {
  float: right;
  margin-right: 13px;
}

.close {
  float: right;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: relative;
  text-align: center;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.close:hover { background: #00d9ff; }

.header-dropdown {
  display: flex;
  align-items: center;
  margin-top: 9px;
  .btn {
    background: none;
    border: none;
    color: $grey;
    .fa-caret-down { margin-left: 30px; }
    &:focus { outline: 0; }
    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.forgot-password-form {
  width: 500px;
  .actions { float: right; }
}
