<header>
  <div id='logo'></div>
  <div id='nav_bar'>
    <ul id="main_nav">
      <li>Home</li>
      <li>CITES Permit</li>
      <li>About</li>
    </ul>
  </div>
  <div id='user_nav_bar'>
    <ul id='user_nav'>
      <li class='login'>
        <span class='icon'></span>
        <span>Log in</span>
      </li>
      <li class='language'></li>
    </ul>
  </div>
</header>
