.organisation-details {
  padding: 30px 0;
  .select2-container {
    width: 100% !important;
  }
}

.access-list-container {
  margin: 10px 0;
  width: 600px;
  background-color: $lightest-grey;
}

.access-list-table {
  width: 520px;
  margin: 0 auto;
  th {
    border-bottom: 1px solid $light-grey;
    padding: 10px 0;
    color: $grey;
  }
  td {
    padding: 20px 0;
  }
  .fa { margin-right: 5px; }
}

.fa-check, .fa-info-circle { color: $main-blue; }
.fa-times { color: $red; }

.organisation-details {
  .fa-info-circle { margin-left: 10px; }
}
