<div class="conditions-and-management-row row row-container">
  <div class="col col-xs-6 col-md-6 col-lg-6 permit-col border-btm">
    <div class="row permit-row height-70 border-btm">
      <div class="permit-field field-title">5.Special conditions</div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
    <div class="row permit-row height-30 no-padding">
      <div class="col col-xs-6 col-md-6 col-lg-6 permit-col hor-padded-15">
        <div class="permit-field field-title">5a. Purpose of the transaction</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
      <div class="col col-xs-6 col-md-6 col-lg-6 permit-col border-lft padded-15">
        <div class="permit-field field-title">5b. Security stamp No.</div>
        <div class="permit-value"><%= "Placeholder" %></div>
      </div>
    </div>
  </div>
  <div class="col col-xs-6 col-md-6 col-lg-6 permit-col border-no-rgt-2">
    <div class="row permit-row height-100 ver-padded-15">
      <div class="permit-field">
        <span class="field-title">6. Management Authority</span>
        <span>(name, address, country)</span>
      </div>
      <div class="permit-value"><%= "Placeholder" %></div>
    </div>
  </div>
</div> <!-- Conditions and management row -->
