<div class="issued-by border-btm-2">
  <div class="permit-field field-title inline">
    13. This permit/certificate is issued by:
  </div>
  <div class="permit-value inline"><%= "Placeholder" %></div>
  <div class="issued-place-date">
    <div class="issued-place inline">
      <div class="permit-value border-btm"><%= "Placeholder" %></div>
      <div class="permit-field field-title">Place</div>
    </div>
    <div class="issued-date inline">
      <div class="permit-value border-btm"><%= "Placeholder" %></div>
      <div class="permit-field field-title">Date</div>
    </div>
  </div>
</div>
