<div class="species-details-table">
  <%# for each species_details do |species_detial| %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
    <%= render "species_details_block" %>
  <%# end %>
</div>
<div class="country-info border-btm">
  *Country in which the specimens were taken from the wild, bred in captivity
  or artifically propagated (inly in case of re-export)
</div>
