<div class="species-details-container">
  <div class="species-details-header row row-container border-btm-2">
    <div class="col col-70 permit-col">
      <div class="row hor-padded-15">
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field">
            <span class="field-title">
              7./8. Scientific name and common name
            </span>
            <span>(genus and species)</span>
            <span class="field-title">of animal or plant</span>
          </div>
        </div>
        <div class="col col-xs-6 col-md-6 col-lg-6">
          <div class="permit-field">
            <span class="field-title">
              9. Description of specimens, including identifying marks of numbers
            </span>
            <span>(age/sex if live)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">
        10. Appendix No. and source
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field">
        <span class="field-title">11. Quantity</span>
        <span>(including unit)</span>
      </div>
    </div>
    <div class="col col-10 permit-col border-lft padded-15">
      <div class="permit-field field-title">
        11a. Total exported/Quota
      </div>
    </div>
  </div>
  <%= render "species_details_row" %>
</div>
