<div class="species-details-table">
  <% @permit.line_items.each do |line_item| %>
    <%= render "species_details_block", line_item: line_item %>
  <% end %>
</div>
<div class="country-info border-btm">
<%= t('country_info') %>
</div>
