<div class="form-header">
  <h2>New organisation</h2>
  <%= render partial: "buttons", locals: {form_id: "new_organisation_form"} %>
</div>

<%= render partial: "form", locals: {action: "create", form_id: "new_organisation_form"} %>

<div class="form-footer">
  <%= render partial: "buttons", locals: {form_id: "new_organisation_form"} %>
</div>
