<div class="form-header">
  <h1><%= t('organisation_new_page') %></h1>
  <%= render partial: "buttons", locals: {
    form_id: "new_organisation_form",
    cancel_path: admin_organisations_path
  } %>
</div>

<%= render partial: "form", locals: {action: "create", form_id: "new_organisation_form"} %>

<div class="form-footer">
  <%= render partial: "buttons", locals: {
    form_id: "new_organisation_form",
    cancel_path: admin_organisations_path
  } %>
</div>
