<p>Dear <%= @user.first_name %>,</p>

<p>
  you have been invited to join EPIX Connect.
  To sign in please click on the link below and follow instructions:
</p>

<p><%= link_to 'Confirm your account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  If you have any further questions about this email,
  please contact Pablo Sinovas on pablo.sinovas@unep-wcmc.org.
</p>

<p>Thank you for your time.</p>

<p>EPIX Development Team</p>
