<div class="buttons">
  <%= link_to t('cancel_button'), admin_user_path(@user), class: 'button btn-scnd' %>
  <input type="submit" value="<%= t('submit_button') %>" form=<%= form_id %> class='button'>
</div>
