<div class="form-header">
  <h1><%= t('user_edit_page') %></h1>
  <%= render partial: "buttons", locals: {
    form_id: "user_edit_form",
    cancel_path: admin_users_path
  } %>
</div>

<%= render partial: "form", locals: {action: "update", form_id: "user_edit_form"} %>

<div class="form-footer">
  <%= render partial: "buttons", locals: {
    form_id: "user_edit_form",
    cancel_path: admin_users_path
  } %>
</div>
