<div class="edit-header">
  <h2>Edit account</h2>
  <div class="buttons">
    <%= link_to 'Cancel', admin_users_path, class: 'button btn-scnd' %>
    <input type="submit" value="Submit" form="user_edit_form" class='button'>
  </div>
</div>
