<div class="form-header">
  <h2>New account</h2>
  <%= render "buttons" %>
</div>

<%= render partial: "form", locals: {action: "create", form_id: "new_user_form"} %>

<div class="form-footer">
  <%= render "buttons" %>
</div>
