.sub-header {
  padding: 30px 0;
  border-bottom: 1px solid $extralight-grey;
  color: $grey;
  @media screen and (max-width: $break_tablet) {
    font-size: 0.8em;
  }
  p.epix-intro {
    white-space: pre-line;
    line-height: 30px;
    margin: 0;
  }
}
.logo-container {
  position: relative;
  border : 1px solid $extralight-grey;
  width: 600px;
  @media screen and(max-width: $break_tablet) {
    width: 300px;
  }
  height: 240px;
  margin: 20px auto;
  .cites-logo {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    @media screen and(max-width: $break_tablet) {
      width: 180px;
    }
  }
}
.permit-search {
  color: $grey;
  text-align: center;
  p:first-child { font-size: 1.857em; }
}
