.permit-result-title {
  color: $main-blue;
  border-bottom: 3px solid $light-grey;
}

.row-container {
  margin: 0;
}

.permit-type-row, .import-export-row {
  height: 150px;
}

.species-details-header {
  height: 90px;
}

.species-details-block {
  height: 170px;
}

.conditions-and-management-row {
  height: 235px;
}

.permit-row {
  margin: 0;
  height: 100%;
  padding: 15px 0;
}

.permit-col {
  height: 100%;
  padding: 0;
}

.permit-field {
  color: $main-blue
}

.field-title {
  font-family: 'SourceSansPro-Bold', 'SourceSerifPro-Bold';
}

ul {
  list-style: none;
}
