.permit-result-title {
  color: $main-blue;
  border-bottom: 3px solid $light-grey;
}

.row-container {
  margin: 0;
}

.permit-type-row, .import-export-row {
  height: 150px;
}

.species-details-header {
  height: 90px;
}

.species-details-block {
  height: 170px;
}

.species-details-index {
}

.conditions-and-management-row {
  height: 235px;
}

.permit-row {
  margin: 0;
  height: 100%;
  padding: 15px 0;
}

.permit-col {
  height: 100%;
  padding: 0;
  float: left;
}

.index-col {
  width: 30px;
  float: left;
  border-bottom: 2px solid $light-grey;
  .index-value {
    position: relative;
    top: 45%;
    text-align: center;
    color: $main-blue;
  }
}

.block-col {
  width: 1110px;
  float: left;
  border-left: 1px solid $light-grey;
  padding-left: 15px;
}

.species-col-big {
  width: 767px;
  float: left;
  border-bottom: 1px solid $light-grey;
}

.species-col-small {
  width: 114px;
  float: left;
  border-bottom: 1px solid $light-grey;
}

.other-details-row > .permit-col {
  border-bottom: 2px solid $light-grey;
}

.permit-col.country-origin {
  width: 39%;
}

.permit-col.country-last {
  width: 43%;
}

.permit-col.no-operation {
  width: 18%;
  margin-left: -15px;
}

.permit-value.border-lft {
  height: 45px;
  border-left: 1px solid $light-grey;
  padding-left: 10px;
}

.permit-field {
  color: $main-blue
}

.field-title {
  font-family: 'SourceSansPro-Bold', 'SourceSerifPro-Bold';
}

ul {
  list-style: none;
}
