<footer>
  <div class="footer-container container">
    <div class="upper-footer"></div>
    <div class="lower-footer row">
      <div class="col-xs-7 col-md-7 col-lg-7">
        <span class="bold">Wildlife Trade EPIX -</span>
        <span>Electronic Permit Information eXchange</span>
      </div>
      <div class="col-xs-5 col-md-5 col-lg-5"></div>
    </div>
  </div>
</footer>
