<%= render "layouts/mobile_footer" %>
<footer>
  <div class="footer-container container">
    <div class="footer-row row">
      <div class="col col-xs-3 col-md-3 col-lg-3 logo-col border-rgt">
        <%= image_tag("epix_main_logo.png") %>
      </div>
      <div class="col col-xs-3 col-md-3 col-lg-3 epix-col">
        <div class="bold">EPIX Connect</div>
        <div>Electronic Permit Information eXchange</div>
      </div>
      <div class="col col-xs-6 col-md-6 col-lg-6 logos-col"></div>
    </div>
  </div>
</footer>
