<footer>
  <div class="footer-container">
    <div class="upper-footer"></div>
    <div class="lower-footer">
      <div class="left">
        <span class="bold">Wildlife Trade EPIX -</span>
        <span>Electronic Permit Information eXchange</span>
      </div>
      <div class="right"></div>
    </div>
  </div>
</footer>
