<header>
  <nav id='logo'>Logo</nav>
  <nav id='nav_bar'>
    <ul id='main_nav'>
      <li>Home</li>
      <li>CITES Permit</li>
      <li>About</li>
    </ul>
  </nav>
  <nav id='user_nav_bar'>
    <ul id='user_nav'>
      <li class='login'>
        <span class='icon'></span>
        <span>Log in</span>
      </li>
      <li class='language'>Languages</li>
    </ul>
  </nav>
</header>
